<%# <form action="/answer" method="get" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form> %>


<form action="/answer" method="get" data-turbo="false">
  <div class="mb-3">
    <p>Ask your coach anything</p>
    <input type="text" class="form-control" id="exampleInputEmail1" name="question">
      <button type="submit" class="btn btn-primary">Ask</button>
  </div>
</form>


